.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 460px;
}

.title{
    font-family: var(--josefin-slab-regular);
    font-weight: 400;
    font-size: 40.5px;
    line-height: 40px;
    letter-spacing: 0.23em;
    color: #E0AE77;
    margin-top: 25px;
}

.bar{
    background-color: #E0AE77;
    width: 100%;
    height: 4px;
}

.subtitle{
    font-family: var(--josefin-slab-regular);
    color: #E0AE77;
    font-weight: 400;
    font-size: 27.3px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.54em;
}