.header {
  position: fixed;
  background-color: #1e2327;
  width: 100%;
  height: 70px;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 32.5px;
  line-height: 32px;
  letter-spacing: 0.23em;
  color: #e0ae77;
  font-family: var(--josefin-slab-regular);
  font-weight: 400;
}

.menuWrapper {
  display: flex;
  gap: 54px;
}

.menu {
  display: flex;
  gap: 46px;
  font-family: var(--josefin-slab-regular);
  font-size: 24px;
  line-height: 24px;
  color: #e0ae77;
}

.menuMediaIcons {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1200px) {
  .menuWrapper {
    width: 100%;
    justify-content: space-between;
  }
}
