@import url(./variables.css);
@import url(./fonts.css);
@import url(./reset.css);

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #e0ae77;
}

body::-webkit-scrollbar-track-piece {
  background-color: #0b0d0e;
}

