:root {
    --josefin-slab-regular: josefin-slab-regular;
    --josefin-slab-bold:  josefin-slab-bold;
    --josefin-slab-semibold: josefin-slab-semibold;
    --josefin-slab-medium: josefin-slab-medium;
    --josefin-slab-thin: josefin-slab-thin;
}